dist: xenial
language: scala
jdk: openjdk8
scala:
- 2.11.12
- 2.12.8
- 2.13.0-RC1
script: sbt "++${TRAVIS_SCALA_VERSION}" test
matrix:
  include:
  - scala: 2.12.8
    jdk: openjdk11
    dist: xenial
